
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
			<div class="row">
				<!-- main title -->
				<div class="col-12">
					<div class="main__title">
						<h2>Trang Chủ</h2>

						
					</div>
				</div>
				<!-- end main title -->

				<!-- stats -->
				<div class="col-12 col-sm-6 col-xl-3">
					<div class="stats">
						<span>Tài Khoản</span>
						
						<p>@ViewBag.taikhoansl </p>
						
						<i class="icon ion-ios-contacts"></i>
					</div>
				</div>
				<!-- end stats -->

				<!-- stats -->
				<div class="col-12 col-sm-6 col-xl-3">
					<div class="stats">
						<span>Phim Lẻ</span>
						<p>@ViewBag.phimlesl</p>
						<i class="icon ion-ios-film"></i>
					</div>
				</div>
				<!-- end stats -->

				<!-- stats -->
				<div class="col-12 col-sm-6 col-xl-3">
					<div class="stats">
						<span>Phim Bộ</span>
						<p>@ViewBag.phimbosl</p>
						<i class="icon ion-ios-film"></i>
					</div>
				</div>
				<!-- end stats -->

				<!-- stats -->
				<div class="col-12 col-sm-6 col-xl-3">
					<div class="stats">
						<span>Tin Tức</span>
						<p>@ViewBag.tintucsl</p>
						<i class="icon ion-ios-star-half"></i>
					</div>
				</div>
				<!-- end stats -->

				<!-- dashbox Phim Hot-->
				<div class="col-12 col-xl-6">
					<div class="dashbox">
						<div class="dashbox__title">
							<h3><i class="icon ion-ios-film"></i> Phim Lẻ  </h3>

							<div class="dashbox__wrap">
								<a class="dashbox__refresh" asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="icon ion-ios-refresh"></i></a>
								<a class="dashbox__more" asp-area="Admin" asp-controller="AdminDsphimLes" asp-action="Index">View All</a>
							</div>
						</div>

						<div class="dashbox__table-wrap">
							<table class="main__table main__table--dash">
								<thead>
									<tr>
										
										<th>Tên Phim</th>
										<th>Quốc Gia</th>
										<th>Năm </th>
									</tr>
								</thead>
								<tbody>
									@if(ViewBag.phimle != null )
									{
										@foreach(var item in ViewBag.phimle)
										{
										<tr>
											
											<td>
												<div class="main__table-text">@item.TenPhim</div>
											</td>
											<td>
												<div class="main__table-text">@item.MaQgNavigation.TenQg</div>
											</td>
											<td>
												<div class="main__table-text "> @item.NamPhatHanhNavigation.TenNam</div>
											</td>
										</tr>
										}

									}
									
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- end dashbox -->

				<!-- dashbox Phim Mới Cập Nhật -->
				<div class="col-12 col-xl-6">
					<div class="dashbox">
						<div class="dashbox__title">
							<h3><i class="icon ion-ios-film"></i> Phim Bộ</h3>

							<div class="dashbox__wrap">
								<a class="dashbox__refresh" asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="icon ion-ios-refresh"></i></a>
								<a class="dashbox__more" asp-area="Admin" asp-controller="AdminDsphimBoes" asp-action="Index">View All</a>
							</div>
						</div>

						<div class="dashbox__table-wrap">
							<table class="main__table main__table--dash">
								<thead>
									<tr>
									
										<th>Tên Phim</th>
										<th>Quốc Gia</th>
										<th>Năm </th>
									</tr>
								</thead>
								<tbody>
									@if(ViewBag.phimbo != null )
									{
										@foreach(var item in ViewBag.phimbo)
										{
										<tr>
											
											<td >
												<div class="main__table-text" style="overflow:hidden;-webkit-line-clamp:1;display: -webkit-box;-webkit-box-orient:vertical;">@item.TenPhim</div>
											</td>
											<td>
												<div class="main__table-text">@item.MaQgNavigation.TenQg</div>
											</td>
											<td>
												<div class="main__table-text " >@item.NamPhatHanhNavigation.TenNam</div>
											</td>
										</tr>
										}

									}
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- end dashbox -->

				<!-- dashbox Tài Khoản Đã Thêm-->
				<div class="col-12 col-xl-6">
					<div class="dashbox">
						<div class="dashbox__title">
							<h3><i class="icon ion-ios-contacts"></i> Tài Khoản Đã Thêm</h3>

							<div class="dashbox__wrap">
								<a class="dashbox__refresh" asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="icon ion-ios-refresh"></i></a>
								<a class="dashbox__more" asp-area="Admin" asp-controller="AdminTaiKhoans" asp-action="Index">View All</a>
							</div>
						</div>

						<div class="dashbox__table-wrap">
							<table class="main__table main__table--dash">
								<thead>
									<tr>
										
										<th>Họ Tên</th>
										<th>Email</th>
										<th>Quyền </th>
									</tr>
								</thead>
								<tbody>
									@if(ViewBag.taikhoan != null )
									{
										@foreach(var item in ViewBag.taikhoan)
										{
										<tr>
											
											<td>
												<div class="main__table-text">@item.HoTen</div>
											</td>
											<td>
												<div class="main__table-text">@item.Email</div>
											</td>
											<td>
												@if(@item.Quyen == true)
											{
												<div class="main__table-text ">Quản Trị Viên</div>
											}
											else
											{
												<div class="main__table-text ">Người Dùng </div>
											}

											</td>
										</tr>
										}

									}
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- end dashbox -->

				<!-- dashbox Phim Sắp Chiếu-->
				<div class="col-12 col-xl-6">
					<div class="dashbox">
						<div class="dashbox__title">
							<h3><i class="icon ion-ios-star-half"></i> Tin Tức</h3>

							<div class="dashbox__wrap">
								<a class="dashbox__refresh" asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="icon ion-ios-refresh"></i></a>
								<a class="dashbox__more" asp-area="Admin" asp-controller="AdminTintucphims" asp-action="Index">View All</a>
							</div>
						</div>

						<div class="dashbox__table-wrap">
							<table class="main__table main__table--dash">
								<thead>
									<tr>
									
										<th>Tiêu Đề</th>
										<th>Ngày Cập Nhật</th>
										
									</tr>
								</thead>
								<tbody>
									@if(ViewBag.tintuc != null )
									{
										@foreach(var item in ViewBag.tintuc)
										{
										<tr>
											
											<td >
												<div  class="main__table-text" style="overflow:hidden;-webkit-line-clamp:1;display:-webkit-box;-webkit-box-orient:vertical;">@item.Tieude</div>
											</td>
											<td>
												<div class="main__table-text">@item.Ngaycapnhat</div>
											</td>
											
										</tr>
										}

									}
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- end dashbox -->
			</div>
</div>