@model IEnumerable<JDMovie.Models.CttapPhim>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="main__title">
				<h2>Tập phim</h2>
				<a asp-action="Create" class="main__title-link">Thêm Tập Phim</a>
				<span class="main__title-stat">
					<!--total-->
				</span>
				<div class="main__title-wrap">		
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="main__table-wrap">
				<table class="main__table">
					<thead>
						<tr>
							<th><div class="main__table-text">Tên Phim</div></th>
							<th><div class="main__table-text">Link Phim</div></th>
							
							<th><div class="main__table-text">Tập Phim</div></th>									
						</tr>
					</thead>
					<tbody>
						@if(Model != null)
						{											
						@foreach (var item in Model) {
							<tr>
							<td>
								<div class="main__table-text">@Html.DisplayFor(modelItem => item.IdNavigation.TenPhim)</div>
										
							</td>
							<td>
								<div class="main__table-text">@Html.DisplayFor(modelItem => item.Link)</div>
										
							</td>
							
							<td>
								
								<div class="main__table-text"> @Html.DisplayFor(modelItem => item.TapPhim)</div>
																																					
							</td>
									
							<td>
								<div class="main__table-btns">
											
									<a asp-action="Edit" asp-route-id="@item.Idphim" class="main__table-btn main__table-btn--edit">
										<i class="icon ion-ios-create"></i>
									</a>
									<a asp-action="Delete" asp-route-id="@item.Idphim" class="main__table-btn main__table-btn--delete ">
										<i class="icon ion-ios-trash"></i>
									</a>
								</div>
							</td>
						</tr>								
						}
						}
					</tbody>
				</table>
			</div>
		</div>		
</div>
</div>