@addTagHelper *,ReflectionIT.Mvc.Paging
@using ReflectionIT.Mvc.Paging;
@model ReflectionIT.Mvc.Paging.PagingList<JDMovie.Models.CttapPhim>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

	<section class="section details">
		<!-- details background -->
		 <div class="owl-carousel home__bg">
			<img class="item home__cover" src= "~/Assets/img/home/home__bg.jpg">
			<img class="item home__cover" src= "~/Assets/img/home/home__bg2.jpg">
			<img class="item home__cover" src= "~/Assets/img/home/home__bg3.jpg">
			<img class="item home__cover" src= "~/Assets/img/home/home__bg4.jpg">
		</div>
		<!-- end details background -->

		<!-- details content -->
		<div class="container">
			<div class="row">
				<!-- title -->
				<div class="col-12">
					<h1 class="details__title">@ViewBag.phimbo.TenPhim</h1>
				</div>
				<!-- end title -->

				<!-- content -->
				<div class="col-10">
					<div class="card card--details card--series">
						<div class="row">
							<!-- card cover -->
							<div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
								<div class="card__cover">
									<img src="@("~/img/" + @ViewBag.phimbo.Img)" asp-append-version="true" />
								</div>
							</div>
							<div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-9">
								<div class="card__content">
									<div class="card__wrap">
										<span class="card__rate"><i class="icon ion-ios-star"></i></span>

										<ul class="card__list">
											
										</ul>
									</div>

									<ul class="card__meta">
										<li><span>Thể Loại:</span>  
											@foreach(var item in @ViewBag.theloai)
										{
											<a asp-controller="TimKiem" asp-action="TheLoai" asp-route-id="@item.IdtheLoai"> @item.IdtheLoaiNavigation.TenTheLoai</a>
										}
										<li><span>Năm Phát Hành:</span><a asp-controller="TimKiem" asp-action="Nam" asp-route-id="@ViewBag.nam.MaNam">@ViewBag.nam.TenNam</a> </li>
										<li><span>Thời Lượng:</span> @ViewBag.phimbo.ThoiLuong</li> 
										<li><span>Quốc Gia:</span> <a asp-controller="TimKiem" asp-action="QuocGia" asp-route-id="@ViewBag.quocgia.MaQg">@ViewBag.quocgia.TenQg</a> </li>
										<li class="card__description card__description--details"><span>Nội Dung: @ViewBag.phimbo.NoiDung</span> </li>
									</ul>

									<div class="card__description card__description--details">
										
									</div>
								</div>
							</div>
							<!-- end card content -->
						</div>
					</div>
				</div>

				<!-- end content -->
				@foreach(var item in Model)
				{

						<div class="col-12 col-xl-6">							
							<iframe width="560" height="315" src="@item.Link" frameborder="0" allow="autoplay" allowfullscreen></iframe>
						</div>	

				}
					
			
				<!-- player -->
				
				<!-- end player -->

				<!-- accordion -->
				<div class="col-12 col-xl-6">
					<div class="accordion" id="accordion">
						<div class="accordion__card">
							

							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="card-body">
									<table class="accordion__list">
										<thead>
											<tr>
												<th>Tập</th>
												<th>Tiêu đề</th>
											</tr>
										</thead>

										<tbody>
										@foreach(var item in ViewBag.ctphim)
										{
											<tr>
												<th><a asp-action="Details" asp-route-id="@ViewBag.phimbo.Id" asp-route-Tap="@item.TapPhim">Tập @item.TapPhim</a></th>
												<td><a asp-action="Details" asp-route-id="@ViewBag.phimbo.Id" asp-route-Tap="@item.TapPhim">Không có tiêu đề</a></td>
											</tr>
										}


											
										</tbody>
									</table>
								</div>
							</div>
						</div>

					
					</div>
				</div>

				<!-- end accordion -->

				<div class="col-12">
					<div class="details__wrap">
						<!-- availables -->
						<div class="details__devices">
							<span class="details__devices-title">Available on devices:</span>
							<ul class="details__devices-list">
								<li><i class="icon ion-logo-apple"></i><span>IOS</span></li>
								<li><i class="icon ion-logo-android"></i><span>Android</span></li>
								<li><i class="icon ion-logo-windows"></i><span>Windows</span></li>
								<li><i class="icon ion-md-tv"></i><span>Smart TV</span></li>
							</ul>
						</div>
						<!-- end availables -->

						<!-- share -->
						<div class="details__share">
							<span class="details__share-title">Share with friends:</span>

							<ul class="details__share-list">
								<li class="facebook"><a href="#"><i class="icon ion-logo-facebook"></i></a></li>
								<li class="instagram"><a href="#"><i class="icon ion-logo-instagram"></i></a></li>
								<li class="twitter"><a href="#"><i class="icon ion-logo-twitter"></i></a></li>
								<li class="vk"><a href="#"><i class="icon ion-logo-vk"></i></a></li>
							</ul>
						</div>
						<!-- end share -->
					</div>
				</div>
			</div>
		</div>
		<!-- end details content -->
	</section>
	<!-- end details -->

<section class="content">
		<div class="content__head">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- content title -->
						<h2 class="content__title">Bình luận</h2>
						<!-- end content title -->


					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8 col-xl-8">
					<!-- content tabs -->
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
							<div class="row" style="background-color: #fff; border-radius: 10px; margin-top: 15px;">
								<!-- comments -->
								    <div class="fb-comments" data-href="@ViewBag.route" data-width="100%" data-numposts="10"></div>
									<div id="fb-root"></div>
									<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v12.0&appId=275181587989831&autoLogAppEvents=1" nonce="AtgBN9We"></script>
								<!-- end comments -->
							</div>
						</div>
					</div>
					<!-- end content tabs -->
				</div>

				@*<!-- sidebar -->
				<div class="col-12 col-lg-4 col-xl-4">
					<div class="row">
						<!-- section title -->
						<div class="col-12">
							<h2 class="section__title section__title--sidebar">You may also like...</h2>
						</div>
						<!-- end section title -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-6">
							<div class="card">
								<div class="card__cover">
									<img src="img/covers/cover.jpg" alt="">
									<a href="#" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="#">I Dream in Another Language</a></h3>
									<span class="card__category">
										<a href="#">Action</a>
										<a href="#">Triler</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-6">
							<div class="card">
								<div class="card__cover">
									<img src="img/covers/cover2.jpg" alt="">
									<a href="#" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="#">Benched</a></h3>
									<span class="card__category">
										<a href="#">Comedy</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>7.1</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-6">
							<div class="card">
								<div class="card__cover">
									<img src="img/covers/cover3.jpg" alt="">
									<a href="#" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="#">Whitney</a></h3>
									<span class="card__category">
										<a href="#">Romance</a>
										<a href="#">Drama</a>
										<a href="#">Music</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>6.3</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-6">
							<div class="card">
								<div class="card__cover">
									<img src="img/covers/cover4.jpg" alt="">
									<a href="#" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="#">Blindspotting</a></h3>
									<span class="card__category">
										<a href="#">Comedy</a>
										<a href="#">Drama</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>7.9</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-6">
							<div class="card">
								<div class="card__cover">
									<img src="img/covers/cover5.jpg" alt="">
									<a href="#" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="#">I Dream in Another Language</a></h3>
									<span class="card__category">
										<a href="#">Action</a>
										<a href="#">Triler</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>
								</div>
							</div>
						</div>
						<!-- end card -->

						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-6">
							<div class="card">
								<div class="card__cover">
									<img src="img/covers/cover6.jpg" alt="">
									<a href="#" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="#">Benched</a></h3>
									<span class="card__category">
										<a href="#">Comedy</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>7.1</span>
								</div>
							</div>
						</div>
						<!-- end card -->
					</div>
				</div>
				<!-- end sidebar -->*@
			</div>
		</div>
	</section>