
@{
    ViewData["Title"] = "Home Page";
}

<section class="home">
    <!-- home bg -->
    <div class="owl-carousel home__bg">
        <img class="item home__cover" src= "~/Assets/img/home/home__bg.jpg">
        <img class="item home__cover" src= "~/Assets/img/home/home__bg2.jpg">
        <img class="item home__cover" src= "~/Assets/img/home/home__bg3.jpg">
        <img class="item home__cover" src= "~/Assets/img/home/home__bg4.jpg">
    </div>
    <!-- end home bg -->

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="home__title"><b>PHIM LẺ</b> MỚI CẬP NHẬT</h1> <br />

                <button class="home__nav home__nav--prev" type="button">
                    <i class="icon ion-ios-arrow-round-back"></i>
                </button>
                <button class="home__nav home__nav--next" type="button">
                    <i class="icon ion-ios-arrow-round-forward"></i>
                </button>
            </div>
           
                <div class="col-12">
                  <div class="owl-carousel home__carousel">
                    @foreach(var item in ViewBag.phim)
                        {
                        <div class="item">
                            <div class="card card--big">
                                <div class="card__cover" >
                                    <img style="width:240px;height:355px;" src="@("~/img/" +item.Img)" asp-append-version="true" />
                                <a asp-controller="DsphimLes" asp-action="Details" asp-route-id="@item.Id" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title"><a asp-controller="DsphimLes" asp-action="Details" asp-route-id="@item.Id">@item.TenPhim</a></h3>
                                <span class="card__category">
                                    
                                </span>
                           
                            </div>
                        </div>
                    </div>
                     }
                </div>
            </div>
          
            
        </div>
    </div>
</section>
<!-- end home -->
<section class="home">
    <!-- home bg -->
    <div class="owl-carousel home__bg">
        <img class="item home__cover" src= "~/Assets/img/home/home__bg.jpg">
        <img class="item home__cover" src= "~/Assets/img/home/home__bg2.jpg">
        <img class="item home__cover" src= "~/Assets/img/home/home__bg3.jpg">
        <img class="item home__cover" src= "~/Assets/img/home/home__bg4.jpg">
    </div>
    <!-- end home bg -->

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="home__title"><b>PHIM BỘ</b> MỚI CẬP NHẬT</h1>

                <button class="home__nav home__nav--prev" type="button">
                    <i class="icon ion-ios-arrow-round-back"></i>
                </button>
                <button class="home__nav home__nav--next" type="button">
                    <i class="icon ion-ios-arrow-round-forward"></i>
                </button>
            </div>
           
                <div class="col-12">
                  <div class="owl-carousel home__carousel">
                        @foreach(var item in ViewBag.phimbo)
                        {
                        <div class="item">
                            <div class="card card--big">
                                <div class="card__cover">
                                    <img style="width:240px;height:355px;" src="@("~/img/" +item.Img)" asp-append-version="true" />
                                <a asp-controller="DsphimBoes" asp-action="Details" asp-route-id="@item.Id" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title"><a asp-controller="DsphimBoes" asp-action="Details" asp-route-id="@item.Id">@item.TenPhim</a></h3>
                                <span class="card__category">
                                    
                                </span>
                             
                            </div>
                        </div>
                    </div>
                        }
                </div>
            </div>
          
            
        </div>
    </div>
</section>
<!-- end home -->

   <!-- content -->
<section class="content">

    <div class="content__head">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- content title -->
                    <h2 class="content__title">Tin Tức Điện Ảnh</h2>
                   
                    <div class="content__mobile-tabs" id="content__mobile-tabs">
                        <div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <input type="button" value="New items">
                            <span></span>
                        </div>

                      
                    </div>
                    <!-- end content mobile tabs nav -->
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- content tabs -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                <div class="row">
                    @foreach(var item in ViewBag.tintuc)
                    {
                    <!-- card -->
                    <div class="col-6 col-sm-12 col-lg-6">
                        <div class="card card--list">
                            <div class="row">
                                <div class="col-12 col-sm-4">
                                    <div class="card__cover" >
                                        <img style="width:160px; height:237px;" src="~/img/@item.Hinhanh" alt="">
                                        <a asp-controller="Tintucphims" asp-action="Details" asp-route-id="@item.Idtintuc" class="card__play">
                                            <i class="icon ion-ios-play"></i>
                                        </a>
                                    </div>
                                </div>

                         @**@       <div class="col-12 col-sm-8  ">
                                    <div class="card__content" >
                                        <h3 style="color:#ff5860;"  class="card__title"><a asp-controller="Tintucphims" asp-action="Details" asp-route-id="@item.Idtintuc" style="color:#ff5860;">@item.Tieude </a></h3>
                                       
                                        <div class="card__description card__description--details" style="color:white;">
                                            Ngày: @item.Ngaycapnhat<br>
										    Nội Dung:  @item.Noidung
									    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                    }
                </div>
            </div>
        </div>
        <!-- end content tabs -->
    </div>
</section> 


<!-- end content -->

